<ion-view>

	<ion-content>
		
		<div class="subtitle">
		  <h2 class="title">About </h2>
		</div>

		<div id="about">
			
			<section class="padding">
				<h3 class="section">
					<span>What <i class="icon-lightbulb-alt"></i></span>
				</h3>
				<p>WUD is a customised search engine helping you to pull, link and organise data from two major cultural heritage repositories: <a href="#" class="browse-to" ng-click="openExt('http://www.europeana.eu')">Europeana.eu</a> and the <a href="#" class="browse-to" ng-click="openExt('http://dp.la/')">Digital Public Library of America (DPLA)</a>. It was developed as part of the research and outreach activities of <a href="#" class="browse-to" ng-click="openExt('http://www.unifr.ch/mh/fr')">the Medicine and Society chair at University of Fribourg</a>. </p>
				<p>This project was initially intended for researchers : like most Digital Humanities projects, it stems out from a previous endeavour – the Medicine and food virtual exhibition for which we had to hand-pick images and documents from around the Web. We figured we could fire up existing online tools and APIs in order to streamline and speed up this curation process. WUD does exactly that: saves us hours of clicking and downloading and assembling. And if you wonder what those three letters stand for, it’s nothing more than a <i>clin d’oeil</i> from the age of Twitter brevity to the good old “what’s up doc”.</p>
			</section>
			<section class="padding">
				<h3 class="section">
	 				<span>Who <i class="icon-group-circled"></i></span>
	 			</h3>
	 			<p>WUD was developed as part of the research and outreach activities of the Medicine and Society chair at the University of Fribourg. Its aim is to help researchers and students curate and link together collections of cultural artefacts related, but not limited to, the field of Medical Humanities (history of medicine, natural history, pharmacy, botany, ...).</p>
				<p>We think not only researchers (historians of science, literary specialists taking an interest in medical history) will find it useful, but also the general and curious public who can tap into this resource to discover, collect and organise their own digital wunder-chambers. </p>
				<p>Because WUD can help you make unexpected discoveries. By combining multi-website searches into one tool, we hope to inspire all sorts of chance discoveries (a picture here, an old book there). Try it and <a href="mailto:radu.suciu@unifr.ch">send us</a> any comments or critiques. This is still in its beta version, and your feedback will be very useful.</p>
			</section>
			 <section class="padding">
	 			<h3 class="section">
	 				<span>How <i class="icon-wrench-circled"></i></span>
	 			</h3>
	 			<p>Searches are possible in a basic and boolean form. You can browse through the results, or consult the respective Europeana or Dp.la webpages. Relevant results can be collected in a ad-hoc repository which you can then export as a PDF for future reference. In this way users combine the richness of both Europeana and Dp.la. Other fine tuning options are available: you can use the timeline to restrict searches to a certain period in time; or apply the language selector.</p>
	 			<p>For now, each time you reload the main WUD page it will display sample results from Europeana.eu and Dp.la prompted by keywords like “melancholy”, “Freud” or “syphilis”. We are currently working on a Medical Humanities magic button, which will enable users to further filter out their results and thus have more targeted responses for the history of medicine (it will essentially apply the search to a predefined ensemble of Europeana data-sets). We are also considering the addition of other cultural databases, like the <a href="#" class="browse-to" ng-click="openExt('https://www.deutsche-digitale-bibliothek.de/')">Deutsche Digitale Bibliothek</a>, the <a href="#" class="browse-to" ng-click="openExt('http://www.britishmuseum.org/research.aspx')">The British Museum</a> or <a href="#" class="browse-to" ng-click="openExt('http://trove.nla.gov.au/')">Trove</a>. </p>
	 			<p>WUD is open source. Texts written for this website (including this page) are licensed with a CC BY license and the code is freely available on Github. It was built with <a href="#" class="browse-to" ng-click="openExt('https://angularjs.org/')">Angular JS</a> and <a href="#" class="browse-to" ng-click="openExt('http://ionicframework.com/')">Ionic Framework</a>. Data is fetched through <a href="#" class="browse-to" ng-click="openExt('http://labs.europeana.eu/')">Europeana</a> and <a href="#" class="browse-to" ng-click="openExt('http://dp.la/info/developers/')">DPLA</a> restfull apis.</p>
	 		</section>
	 		<section class="padding">
				<h3 class="section">
					<span>Impressum <i class="icon-chat"></i></span>
				</h3>
				<p>WUD is project of the <a href="#" class="browse-to" ng-click="openExt('http://www.unifr.ch/mh/fr')">Medicine and Society</a> chair at the University of Fribourg, directed by <a href="#" class="browse-to" ng-click="openExt('http://www.unifr.ch/mh/fr/contact/chair')">Alexandre Wenger</a> and <a href="#" class="browse-to" ng-click="openExt('http://www.unifr.ch/mh/fr/contact/suciu')">Radu Suciu</a>. IT research and development by <a href="#" target="_blank">Adriano Perlini</a>. </p>
				<p>Special thanks to:</p>
				<ul class="list-about">
					<li>The creators of the <a href="#" class="browse-to" ng-click="openExt('http://www.zenlan.com/collage/')">Culture Collage</a> and <a href="#" class="browse-to" ng-click="openExt('http://serendipomatic.org/')">Serendipomatic</a> web apps. </li>
					<li><a href="#" class="browse-to" ng-click="openExt('http://exascale.info/')">Prof. Cudré-Mauroux</a> and his team at the University of Fribourg for their guidance and help during the R&amp;D stage.</li>
					<li><a href="#" class="browse-to" ng-click="openExt('http://www.miaridge.com')">Mia Ridge</a> of the Open University for helping us calibrate the initial stages of the project.</li>
					<li><a href="#" class="browse-to" ng-click="openExt('http://pro.europeana.eu/about-us/staff/antoine-isaac')">Antoine Isaac</a> and his team at Europeana for making this possible and for enabling us to better understand the <a href="#" class="browse-to" ng-click="openExt('http://labs.europeana.eu/api/linked-open-data/data-structure/')">Europeana Data Model</a> and <a href="#" class="browse-to" ng-click="openExt('http://labs.europeana.eu/data/')">Data sets</a>.</li>
				</ul>
				<ul class="list-about">
					<li>Web support: Samuel Crausaz and team, <a href="#" class="browse-to" ng-click="openExt('http://www.unifr.ch/weboffice/fr')">Web Office</a>, University of Fribourg</li>
					<li>Quality control: Bruno Vuillemin and team, University of Fribourg</li>
					<li>Electronic media and e-pedagogy: <a href="#" class="browse-to" ng-click="openExt('http://nte.unifr.ch/')">NTE Centre</a>, University of Fribourg.</li>
				</ul>
			</section>
		</div>

	</ion-content>
</ion-view>