<ion-view view-title="WUD">
  
  <ion-nav-buttons side="left">
    <img id="logo-unifr" class="button-left" ng-if="!isBackButton" ng-src="./img/uni-fr.svg" alt="logo unifr" width="25">
  </ion-nav-buttons>

  <ion-content has-bouncing="false" class="content-list">
    <div class="subtitle">
	    <h2 class="title">Favorites</h2>
    </div>
    <div ng-repeat="favorite in favoritesList" class="card favorite">
      <div class="item tabs tabs-secondary tabs-icon-left item-divider">
        <a href="#" class="tab-item browse-to no-link" ng-click="openExt(favorite.link)">
          <i class="icon-link-ext-alt"></i>
          Link
        </a>
        <a href="#" class="tab-item browse-to no-link" ng-click="openExt(favorite.source)">
          <i class="icon-link"></i>
          Source
        </a>
        <a href="#" class="tab-item no-link" ng-click="deleteFavorite(favorite.id)">
          <i class="icon-cancel-circle"></i>
          Delete
        </a>
      </div>
      <div class="item item-text-wrap body-img">
        <div class="img-wrapper imagebox">
          <img ng-src="{{ favorite.image }}" alt="{{ favorite.image }}">
        </div>
      </div>
	    <div class="item item-text-wrap item-divider">
        <p class="title">
         {{ favorite.title }}
        </p>
      </div>
      <button ng-click="deleteFavorite(favorite.id)" class="delete-favorite"><i class="icon-cancel-circle"></i></button>
    </div>

    <div class="item item-content" ng-if="favoritesIndicator">
      <div class="button-bar ">
        <a href="#" ng-click="deleteFavorites()" class="button button-assertive button-block no-link">
          Delete List 
          <i class="icon-trash-empty"></i>
        </a>
        <a href="#" ng-click="showPopupEmail()" class="button button-balanced button-block no-link">
          Send List
          <i class="icon-email"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
  