<form name="userForm" ng-submit="submitForm()" novalidate>
    
    <div class="form-group form-email" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine, 'isLoading' : emailLoader }">
        <div ng-hide="submitTriggered">
        	<label>Email</label>
	        <input type="email" name="email" class="form-control" ng-model="user.email">
	        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
        <p ng-show="ajaxError" ng-bind-html="user.error"></p>
        <p ng-show="ajaxSuccess" ng-bind-html="user.success"></p>
        <ion-spinner icon="spiral" ng-show="emailLoader"></ion-spinner>
    </div>
    
    <div class="popup-buttons favorites">
    	<button type="button" class="button button-default" ng-click="cancelPopup()">Cancel</button>
    	<button type="submit" class="button button-positive" ng-disabled="userForm.$invalid">Submit</button>
    </div>
    
</form>